.page-footer{
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #ddd0c8;
    color: black;
    text-align: center;
    /* margin-top: 10px; */
}