.body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .app {
    padding-top: 0px; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    /* position: fixed; */
    top: 0;
    background-color: #ddd0c8;
    padding: 10px 20px;
    z-index: 100;
    border: 1px solid white;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 60px;
    height: auto;
    margin-right: 10px; 
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    
  }
  
  .nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;

  }
  
  .profile,
  .contact {
    position: relative;
  }
  
  .profile-icon {
    font-weight: bold;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 10px;
    display: none;
  }
  
  .profile:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 0;
  }
  

  .profile,
  .contact {
    margin-top: -5px; 
  }
 

